# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Run tests and report coverage
      run: dotnet test --collect:"XPlat Code Coverage" --results-directory ./TestResults

    - name: Install dotnet coverage tool
      run:  dotnet tool install --global dotnet-coverage
    
    - name: Merge results from all test projects into 1 file
      run: dotnet-coverage merge TestResults/**/coverage.cobertura.xml --output unified.cobertura.xml --output-format cobertura

    # - name: 'Upload Artifact'
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: coverage-file
    #     path: unified.cobertura.xml

    - name: Generate report on code coverage
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: '**/unified.cobertura.xml'
        badge: true
        fail_below_min: false
        format: markdown
        hide_branch_rate: false
        hide_complexity: false
        indicators: false
        output: both
        thresholds: '60 80'

    - name: Report code coverage to PR
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request'
      with:
        recreate: true
        path: code-coverage-results.md